@page "/"
@rendermode InteractiveServer

@using System.Collections
@using TheKrystalShip.KGSM.Lib
@using TheKrystalShip.KGSM.Web.Services

@inject KgsmEventState eventState
@inject KgsmInterop interop

<PageTitle>Home</PageTitle>

<h1>KGSM Instances</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Instance instance in instances.Values)
    {
      <tr>
        <td>@instance.Name</td>
        <td>@instance.Status</td>
        <td>
          @if (instance.Status == InstanceStatus.Inactive)
          {
            <button class="btn btn-success" @onclick="@(_ => interop.Start(@instance.Name))">Start</button>
          }
          else
          {
            <button class="btn btn-danger" @onclick="@(_ => interop.Stop(@instance.Name))">Stop</button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

@* @foreach (Instance instance in instances.Values)
{
  <p>@instance.ToString()</p>
} *@

<h2>Action log</h2>

@foreach (string action in eventState.Events)
{
  <p>@action</p>
}

@code {
  private int currentCount = 0;

  public Dictionary<string, Instance> instances = new();

  protected override void OnInitialized()
  {
    instances = interop.GetInstances();
    eventState.OnChange += StateHasChanged;
  }
}
